/**
 * @name BlueNeonGlow
 * @author ZEIN_TRY
 * @version 1.0.0
 * @description A simplified neon-themed Discord style
 * @authorId 508863359777505290
 */

:root {
    --neon-dark-blue: #0000ff;
    --neon-light-blue: #00ffff;
    
    --background-primary: #000000;
    --background-secondary: #0a0a0a;
    --background-tertiary: #141414;
    --background-secondary-alt: #111010;
    
    --text-normal: #ffffff;
    --text-muted: #888888;
    --header-primary: var(--neon-light-blue);
    --header-secondary: var(--neon-dark-blue);
    
    --interactive-normal: var(--neon-light-blue);
    --interactive-hover: var(--neon-light-blue);
    --interactive-active: var(--neon-light-blue);
    
    --channeltextarea-background: var(--background-secondary);
}