/**
 * @name PinkNeonGlow
 * @author ZEIN_TRY
 * @version 1.0.4
 * @description A pink neon-themed Discord style
 * @invite gYWSbkhcDy
 * @authorId 508863359777505290
 */

 :root {
    --neon-dark-pink: #AD1457;
    --neon-light-pink: #F48FB1;
    
    --background-primary: #000000;
    --background-secondary: #0a0a0a;
    --background-tertiary: #141414;
    --background-secondary-alt: #111010;
    
    --text-normal: #ffffff;
    --text-muted: #888888;
    --header-primary: #F48FB1;
    --header-secondary: #AD1457;
    
    --interactive-normal: #F48FB1;
    --interactive-hover: #F48FB1;
    --interactive-active: #F48FB1;
    
    --channeltextarea-background: #0a0a0a;
}
